.pie-chart__wrap{
  display: flex;
  justify-content: space-between;
}
.c1{
  width: 100px;
  height: 100px;
}
.circle{
    stroke: #e75735;
    fill: none;
    stroke-width: 5px;
    //stroke-dasharray: calc(50*283/100) 300; // 283 - 100%   38*100/283
    stroke-dashoffset: 0;
    
    transform-origin: center center;
    transform: rotate(-90deg);
    animation: dash 2s linear; //  forwards;
    //stroke-linecap: round;
  }

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.circle__text{
  font-size: 40px;
  font-family: Lato-Light;
  fill: #9d9d9d;
  display: inline;
  //text-align: center;
  //vertical-align: middle;
  text-anchor: middle;
}
.circle-pie{
  stroke: #e75735;
  stroke-width: 17px;
  fill: none;
  //stroke-dasharray: calc(50*283/100) 300; // 283 - 100%   38*100/283
  stroke-dashoffset: 0;
     
  transform-origin: center center;
  transform: rotate(-90deg);
  animation: dash 2s linear;
}