.messaging__wrp
    .messaging__title
        h3.messaging__pen-friend-name Sarah Brown
        img(class='messaging__user-foto' widht='93' height='93' src="../img/user2.png", alt="Pin")
         
    .messaging__body
        .messaging__icons
            img( widht='20' height='23' src='../blocks/messaging/chat_Icon.png', alt="chat_Icon")
            img( widht='25' height='20' src='../blocks/messaging/camera_Icon.png', alt="camera_Icon")

        p.messaging__pen-friend Hey! So are we cool to meet at the art gallery? Say 8pm

        textarea(class="messaging__my-msc" type="text" name="")
        
        +btn({title:'REPLY', width: 243})
