mixin stages(options)
    .stage-wrp
        ul.stage__list
            li.stage__item.stage__item--active(value=1) 1
            li.stage__item(value=2) 2
            li.stage__item(value=3) 3
            li.stage__item(value=4) 4
            li.stage__item( value=5 ) 5
