.news-wrp{
    box-sizing: border-box;
    width: 288px;
    height: 212px;
    display: flex;
    
    color: white;
}
.news__foto-wrp{
    box-sizing: border-box;
    width: 95px;
    background: url('../img/news_bg_1.png') no-repeat;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.news__info-wrp{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 193px;
    padding: 22px;
    background-color: #e75735;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;  
}

.news__title{
    font-family: 'Lato Light';
    font-size: 28px;
    line-height: 26px;
}
.news__date{
    font-family: 'Lato';
    font-size: 11px;
    line-height: 42px;
}
.news__info{
    font-size: 11px;
    font-family: 'Lato Regular';
}
//---------------------------------------
.events-wrp{
    box-sizing: border-box;
    width: 288px;
    height: 212px;
    display: flex;
    
    color: white;
}
.events__foto-wrp{
    box-sizing: border-box;
    width: 95px;
    background: url('../img/news_bg_2.png') no-repeat;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.events__info-wrp{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 193px;
    padding: 22px;
    background-color: #43ac9d;  
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;  
}
.events__date{
    font-family: 'Lato Light';
    font-size: 26px;
    color: white;
    span{
        font-size: 73px;
        line-height: 47px;
    }
}
.events__title{
    font-family: 'Lato';
    font-size: 12.5px;
    color: white;
    margin-top: 16px;
}
.events__info{
    font-size: 11px;
    font-family: 'Lato Regular';
    margin-top: 3px;
}
.button--128{
    width: 128px;
    height: 25px;
    margin-top: 16px;
}