.location__wrp
    div(class='location__map' id='map')
    
    .location__balloon
        span Meet us!
        p 1259  CALIFORNIA ST<br>San Francisco, CA
        
        img(class='location__pin' widht='26' height='26' src="../img/Icon - My Location.png", alt="My Location")
        img(class='location__myLocation' widht='16' height='23' src="../img/Icon - Pin .png", alt="Pin")
                
        
